* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation-menu {
    list-style-type: none;
}

.news {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.news-card {
    width: 32%;
}